{% extends 'base.html.twig' %}

{% block title %}New Poll{% endblock %}

{% block body %}
<body style="background-color: #EEEEEE">
<div class="container-fluid" style="padding: 50px;">
    <div class="row">
        <div class="col-lg-8"  style="margin: 0 auto;  padding:25px; background-color: white; border-radius: 5px;">
            <h1>Create new Poll</h1>


            {{ include('poll/_form.html.twig') }}

            <a href="{{ path('poll_index') }}" class="btn btn-primary btn-block" roll="button">back to list</a>
        </div>
    </div>
</div>
</body>
{% endblock %}
