{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid" style="background-image: url('../Images/Default/Jumbo_admin.png'); background-size: cover; color:white;">
        <div class="container">
            <br>
            <br>
            <h1 class="display-3">About</h1>
            <br>
            <br>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>About this website</h1>
                <br>
                <p>This website was created by dylan seery. It was part of a project for my 3rd year module COMP H3037 - Web Framework Development.
                 The goal of the project was to make a web application for students to vote on topics effecting the TUD colleges. It includes features
                    like voting commenting and proposing new polls. Each member is only aloud to vote once per poll.
                </p>
                <br>
                <a name="" id="" class="btn btn-primary btn-block" href="http://courses.itb.ie/index.cfm/page/module/moduleId/3418" role="button">View this course</a>
            </div>
            <div class="col-md-6" style="position: relative;">
                <img src="../Images/Default/TUD_LOGO.png" class="img-fluid rounded-top" alt="" style="height: 120px;position: absolute;top: 50%; left: 25%;-ms-transform: translateY(-50%);transform: translateY(-50%);">
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="position: relative;">
                <img src="../Images/Default/TUD_LOGO.png" class="img-fluid rounded-top" alt="" style="height: 120px;position: absolute;top: 50%; left: 25%;-ms-transform: translateY(-50%);transform: translateY(-50%);">
            </div>
            <div class="col-md-6">
                <h1>Proposed polls</h1>
                <br>
                <p>Proposed polls can be created by anyone all you need is an account. Once you have posted your proposed poll other users can support the proposed poll once the poll reaches enough supports it will be made active by a system admin. Once it is made active it will receive an end date and users can vote on the options on the poll. You can create a proposed poll on the home page if your logged in!</p>
                <br>
                <a name="" id="" class="btn btn-primary btn-block" href="/" role="button">Go home</a>
            </div>
        </div>
    </div>

{% endblock %}
