{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Fluid jumbo heading</h1>
            <p class="lead">Jumbo helper text</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
            </p>
        </div>
    </div>

    <div class="container">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">Ending Soon</li>
        </ol>

        <div class="row">
            <div class="col-md-3">
                <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">Most Popular</li>
        </ol>

        <div class="row">
            <div class="col-md-3">
                <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">Most Recent</li>
        </ol>

        <div class="row">
            <div class="col-md-3">
                <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color:cadetblue; border-color:darkblue;">
                    <img class="card-img-top" src="holder.js/100x180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
