{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <body style="background-color: #EEEEEE">
    <div class="container-fluid" style="padding: 50px;">
        <div class="row">
            <div class="col-lg-6"  style="margin: 0 auto;  padding:25px; background-color: white; border-radius: 5px;">
                <h1>Create new User</h1>

                {{ include('user/_form.html.twig') }}
                <br>
                <a name="" id="" class="btn btn-primary btn-block" href="{{ path('user_index') }}" role="button">back to list</a>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
